#!/bin/zsh

# Detect which `ls` flavor is in use
if ls --color >/dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi
# +----+
# | ls |
# +----+
# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"
alias ll="ls -lahF ${colorflag}"

# +------+
# | grep |
# +------+
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# +----+
# | cp |
# +----+
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'

# +-----+
# | NeoVim |
# +-----+
alias v="nvim"

# +-------+
# | fonts |
# +-------+
alias fonts='fc-cache -f -v'
alias ffonts='fc-list | grep -i '

# easier to read disk
alias df='df -h'     # human-readable sizes
alias free='free -m' # show sizes in MB

# get top process eating memory
alias psmem='ps auxf | sort -nr -k 4 | head -5'

# get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3 | head -5'

# +----+
# | cd |
# +----+
alias dboot='cd ~/Developer/boot.dev'

# git
alias gpu='git push -u origin HEAD'

# My bin files
alias ip='~/.config/bin/pomodoro/init_pomo'
alias dotz='cd ~/dotfiles'
alias b='~/.config/bin/brew-tools'

#Python venv
alias av='source $PWD/.venv/bin/activate' #activate venv
alias cv='python -m venv .venv'           #create venv
alias dv='deactivate'                     #deactivate venv
